#top-nav {
  /* height: 100px; */
  position: sticky;
  z-index: 1000;
  top: 0;
}

.top-nav-content {
  /* height: 50px; */
  margin: 0 30px;
  margin-top: 15px;
}

#notification-icon {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  background-color: var(--primary-blue);
}

#user-image {
  width: 50px;
  height: 50px;
}

@media (max-width: 767px) {
  #top-nav {
    height: auto;
  }

  #notification-icon {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background-color: var(--primary-blue);
  }

  #user-image {
    width: 30px;
    height: 30px;
  }

  .top-nav-content {
    height: auto;
    margin: 0 10px;
  }
}

.topbar-divider {
  margin: 10px 0px;
  width: 100px;
  border: 1px solid #F4F4F4;
}

.token-signal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 10px;
  height: 18px;
  left: 67px;
  top: 0px;
  border-radius: 20px;
  line-height: 12px;
}

.token-active {  
  background: #6FCF97;
}

.token-inactive {  
  background: #EB5757;
}